body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    background-color: #4169e1;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}

header img {
    max-width: 100px;
    display: block;
    margin: 0.5rem auto;
}

.introduction {
    text-align: center;
    margin: 2rem;
}

.navigation-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    height: 300px; /* Adjusted height to accommodate images */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-color: #ffa500;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4169e1;
    color: #ffffff;
    margin-top: auto;
}
.teampage {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.5s ease;
}

