body {
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #4169e1;
    color: white;
    text-align: center;
    padding: 1rem;
    position: sticky, top;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #4169e1;
    color: white;
    margin-top: 31px;
    height: 50px;
}
.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    height: 200px; /* Adjusted height to accommodate images */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-left: 150px;
    margin-top: 500px;
}
.card:hover {
    background-color: #ffa500;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.answer-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
}
.vraag1 {
    text-align: center;
}